@model SoforunuSec.Models.Sehir

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sehir</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sehirAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sehirAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ulke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ulke.ulkeAd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
