@model SoforunuSec.Models.Araba

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Araba</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modelYılı)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modelYılı)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.koltukSayisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.koltukSayisi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kmYakit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kmYakit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.motorHacmi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.motorHacmi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fotograf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fotograf)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
