@model IEnumerable<SoforunuSec.Models.Sofor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.adSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dogumTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kazaSayisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinsiyet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fotograf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Araba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ulke)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sehir)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.adSoyad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dogumTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kazaSayisi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cinsiyet)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Fotograf)*@
                    <img src="@Url.Content(item.Fotograf)" class="d-block w-50" asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Araba.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dil.dilAd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ulke.ulkeAd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sehir.sehirAd)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
